<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        app
    </title>
<link href="/asset/app/app.fca9da69b9be8649413f.css" rel="stylesheet"></head>
<body>
    <div id="root"></div>
<script type="text/javascript" src="/asset/react/react.ceeef1818fbb02a94405.js" defer></script><script type="text/javascript" src="/asset/app/app.87d779b15e73ba44b68a.js" defer></script></body>
</html>
